* {
  padding: 0;
  margin: 0;
}
* a {
  text-decoration: none;
}
* a:visited,
a:active {
  color: transparent;
}
body {
  background: #ede7f6;
}
/* navbar */
.nav {
  background: #f1f8e9;
  width: 100vw;
  height: 0.1vh;
  padding: 2rem 1rem;
  text-align: center;
  border-bottom: 1px solid #aed581;
  position: fixed;
  top: 0;
  z-index: 1;
}
.nav-top li {
  list-style-type: none;
  display: inline-block;
  padding: 0.1rem 2.1rem;
  transition: 0.5s;
  cursor: pointer;
  font-family: "Genos", sans-serif;
  font-weight: 700;
  text-shadow: #fc0 1px 0 10px;
}
.nav-top li:hover {
  border: 1px solid #439855;
  border-radius: 12.5px;
  background: #aed581;
  color: #fff;
  transition: 0.1ms;
}
/* it is Description */
.Description-text p:last-of-type {
  padding-top: 2rem;
}
.Description-text {
  font-size: 10px;
  margin: 6rem 8rem 1rem 8rem;
  border: 1px solid #000;
  padding: 2rem 2.5rem;
  background: #80cbc4;
  color: #fff;
  font-family: "Yanone Kaffeesatz", sans-serif;
  box-shadow: 10px 10px 20px 20px #b0bec5;
}
.Description-text h2 {
  font-size: 1.8rem;
}
.Description-text p:last-of-type {
  padding-top: 2rem;
}
.Description-text {
  font-size: 10px;
  margin: 6rem 8rem 1rem 8rem;
  border: 1px solid #000;
  padding: 2rem 2.5rem;
  background: #80cbc4;
  color: #fff;
  font-family: "Yanone Kaffeesatz", sans-serif;
}
.Description-text h2 {
  font-size: 1.8rem;
}
/* three box  */
.boxs3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: column;
  max-width: 700px;
  margin: 2rem auto 2rem auto;
  font-family: "Nunito", sans-serif;
}
.boxs3 .box {
  width: 150px;
  height: 110px;
  background: #009688;
  text-align: center;
  margin: 1.5rem 0;
  padding-top: 15px;
  align-content: space-between;
  transition: 1s;
  box-shadow: 8px 8px 2px 1px #b0bec5;
}
.boxs3 .box:hover {
  transform: scale(1.09) rotate(8deg);
}
.box + .fas {
  font-size: 1rem;
  color: #c5e1a5;
}
.box a,
.goal-box a {
  margin-top: 15px;
  padding: 2.5px;
  color: #b3e5fc;
  font-size: 10px;
  transition: 0.5s;
}
.box a:hover,
.goal-box a:hover {
  background: #439855;
  border-radius: 10px;
}
.box h5 {
  padding: 8px 0;
  color: #c5e1a5;
}
/* footer  */
footer {
  width: 95vw;
  height: 6vh;
  border-top: 1px solid #cfd8dc;
  background: #eceff1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
section > address::selection {
  background: none;
}
footer section {
  width: 10rem;
  display: flex;
  justify-content: space-between;
}
