* {
  padding: 0;
  margin: 0;
}
* a {
  text-decoration: none;
}
* a:visited,
a:active {
  color: transparent;
}
body {
  background: #ede7f6;
}
/* navbar */
.nav {
  background: #f1f8e9;
  width: 100vw;
  height: 0.1vh;
  padding: 2rem 1rem;
  text-align: center;
  border-bottom: 1px solid #aed581;
  position: fixed;
  top: 0;
  z-index: 1;
}
.nav-top li {
  list-style-type: none;
  display: inline-block;
  padding: 0.1rem 2.1rem;
  transition: 0.5s;
  cursor: pointer;
  font-family: "Genos", sans-serif;
  font-weight: 700;
  text-shadow: #fc0 1px 0 10px;
}
.nav-top li:hover {
  border: 1px solid #439855;
  border-radius: 12.5px;
  background: #aed581;
  color: #fff;
  transition: 0.1ms;
}

/* rulers box  */
.rulers {
  margin-top: 3.5rem;
  max-width: 700px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1.2rem;
}
.sec:hover {
  transform: scale(0.8);
}
.rulers .sec {
  width: 110px;
  height: 130px;
  background: #ba68c8;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 3rem;
  box-shadow: 4px 4px 2px 2px #b4b4b4;
  font-family: "Genos", sans-serif;
}
.sec > a {
  margin-top: 15px;
  padding: 2.5px;
  color: #b3e5fc;
  font-size: 10px;
  transition: 0.8s;
}
.sec > a:hover {
  background: #439855;
  border-radius: 10px;
}
.sec:nth-of-type(even) {
  color: #fff;
}
.sec:nth-of-type(odd) {
  color: #cfd8dc;
}
/* rulers-text */
.rulers-text {
  max-width: 500px;
  height: 200px;
  background: #9575cd;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  border: 1px thick #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  border: 5px inset #c4c4c4;
  border-radius: 10px;
  color: #fff;
  font-family: "Nunito", sans-serif;
}
.rulers-text:hover {
  transform: scale(1.1, 1.2);
}
.h6-text {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  margin-left: 30px;
}
.ol-text {
  padding: 0 20px;
  font-size: 14px;
  border-left: 5px double #bbdefb;
}
/* list bold */
.li-1,
.li-2 {
  font-weight: 900;
}
.li-3,
.li-4 {
  font-weight: 700;
}
.li-5,
.li-6 {
  font-weight: 500;
}
/* footer  */
footer {
  width: 95vw;
  height: 6vh;
  border-top: 1px solid #cfd8dc;
  background: #eceff1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;
}
section > address::selection {
  background: none;
}
footer section {
  width: 10rem;
  display: flex;
  justify-content: space-between;
}
